@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
  margin: 0;
}

.app-container {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 10px;
}

.side-bar {
  width: 280px;
  flex-shrink: 0;
}


