@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.Today{
  font-size: 25px;
  font-weight: bold;
  font-family: roboto, Arial;
}

.todo-container{
  display: flex;
  justify-content: start;
}
.Img-container{
  width: 250px;
}
.Date-con{
  flex: 1;
}

.Date{
  font-size: 25px;
  font-family: roboto, arial;
  margin-left: 30px;
}